name: PR

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    outputs:
      package_version: ${{ steps.build_script.outputs.package_version }}

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            10.0.x

      - name: Run build
        id: build_script
        run: dotnet build minijinja.slnx

      - name: Run Unit Tests
        id: run_tests
        run: dotnet test --no-build --no-restore