name: PR

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [windows-latest]

    runs-on: ${{ matrix.os }}

    outputs:
      package_version: ${{ steps.build_script.outputs.package_version }}

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            10.0.x

      - name: Run build
        id: build_script
        run: dotnet build minijinja.slnx

      - name: Run Unit Tests
        id: run_tests
        run: dotnet test --no-build --no-restore --collect:"XPlat Code Coverage" --results-directory ./coverage

      - name: Install ReportGenerator
        run: dotnet tool install -g dotnet-reportgenerator-globaltool

      - name: Generate Coverage Report
        run: |
          reportgenerator -reports:./coverage/**/coverage.cobertura.xml -targetdir:./coverage/report "-reporttypes:Html;MarkdownSummaryGithub"
          Get-Content ./coverage/report/SummaryGithub.md | Add-Content $env:GITHUB_STEP_SUMMARY

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage/**/coverage.cobertura.xml
          fail_ci_if_error: false

      - uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: ./coverage/report/
